@model KimdolSoft.Models.empleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br /><br /><br /><br /><br /><br /><br />
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Información Empleado</h3>
        </div>
     
        <table id="example" class="display responsive" width="100%">
            <thead>
                <tr>
                    <th>
                        Documento
                    </th>

                    <th>
                        Tipo Documento
                    </th>
                    <th>
                        Primer Nombre
                    </th>
                    <th>
                        Segundo Nombre
                    </th>
                    <th>
                        Primer Apellido
                    </th>
                    <th>
                        Segundo Apellido
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Correo
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Estado
                    </th>

                </tr>
            </thead>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.idEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(model => model.tipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(model => model.primerNombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.segundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.primerApellido)
                </td>
                <td>
                    @Html.DisplayFor(model => model.segundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(model => model.rol)
                </td>
                <td>
                    @Html.DisplayFor(model => model.direccion)
                </td>
                <td>
                    @Html.DisplayFor(model => model.email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.telefono)
                </td>
                <td>
                    @Html.DisplayFor(model => model.celular)
                </td>
                <td>
                    @Html.DisplayFor(model => model.estado)
            </tr>
        </table>
        <br />
    </div>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.idEmpleado })<br />
            @Html.ActionLink("Regresar", "Index")

        </p>

        <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    "searching": false,
                    "paginate": false,
                    "info": false,
                    "language": {
                        "url": "@Url.Content("~/Scripts/DataTables/lenguaje.json")"
                    }
                                        

                });

            });
        </script>
    
</div>
