@model IEnumerable<KimdolSoft.Models.empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>


<br /><br /><br /><br /><br /><br /><br /><br />

@if (@ViewBag.mensaje == null)
{

}
else
{
    <div class="alert alert-success">
        @ViewBag.mensaje
    </div>

}
<div>
    <p align="right">
        @Html.ActionLink("Registrar empleado", "Create")
    </p>
    @*<div class="table-responsive" >*@
    <table id="example" class="display responsive" width="100%">
        <thead>
            <tr>
                <th data-sortable="true">
                    Documento
                </th>
                <th data-sortable="true">
                    Primer Nombre
                </th>
                <th data-sortable="true">
                    Primer Apellido
                </th>
                <th data-sortable="true">
                    Rol
                </th>
                <th>
                    Correo
                </th>
                <th>
                    Telefono
                </th>
                <th data-sortable="true">
                    Estado
                </th>
                <th>
                    Ver
                </th>
                <th>
                    Editar
                </th>
                @*<th>
                    Eliminar
                </th>*@
            </tr>
        </thead>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primerNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.idEmpleado})">
                        <i class="glyphicon glyphicon-search"></i>
                        <span class="sr-only"></span>
                    </a>

                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.idEmpleado})">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only"></span>
                    </a>

                </td>
                @*<td>
                    <a href="@Url.Action("Delete", new { id = item.idEmpleado})">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span class="sr-only"></span>
                    </a>

                </td>*@
            </tr>
        }

    </table>

    @*</div>*@

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    "language": {
                        "url": "@Url.Content("~/Scripts/DataTables/lenguaje.json")"
                    }
                });
            });
        </script>

    }
</div>