@model KimdolSoft.Models.proveedor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br /><br /><br /><br />


<div class="container">
    <table id="tabla" class="display responsive" width="100%">
        <thead>
            <tr class="active">
                <th>
                    Documento
                </th>
                <th>
                    Tipo de documento
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Email
                </th>
                <th>
                    Teléfono
                </th>
                <th>
                    Nombre vendedor
                </th>
                <th>
                    Apellido vendedor
                </th>
                <th>
                    Teléfono vendedor
                </th>
                <th>
                    Estado
                </th>
            </tr>
        </thead>

        <tr>
            <td>
                @Html.DisplayFor(model => model.idProveedor)
            </td>
            <td>
                @Html.DisplayFor(model => model.tipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(model => model.empresa)
            </td>
            <td>
                @Html.DisplayFor(model => model.direccionEmpresa)
            </td>
            <td>
                @Html.DisplayFor(model => model.emailEmpresa)
            </td>
            <td>
                @Html.DisplayFor(model => model.telefonoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(model => model.nombreVendedor)
            </td>
            <td>
                @Html.DisplayFor(model => model.apellidoVendedor)
            </td>
            <td>
                @Html.DisplayFor(model => model.telefonoVendedor)
            </td>
            <td>
                @Html.DisplayFor(model => model.estado)
            </td>
        </tr>

    </table>
    <br />
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idProveedor })
    <br />
    @Html.ActionLink("Regresar", "Index")

</p>



@section Scripts {

    <script>
        $(document).ready(function () {
            $('#tabla').DataTable({
                "searching": false,
                "paginate": false,
                "info": false,
                "language": {
                    "url": "@Url.Content("~/Scripts/DataTables/lenguaje.json")"
                }
            });
        });
    </script>

}