@model KimdolSoft.Models.detalledevolucion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>detalledevolucion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadADevolver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadADevolver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadPendiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadPendiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.devolucion.idProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.devolucion.idProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDetalle }) |
    @Html.ActionLink("Back to List", "Index")
</p>
