@model KimdolSoft.Models.cliente



@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br /><br /><br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Información del cliente </h3>
        </div>
        <div class="panel-body">
            <div>

                <table id="example" class="display responsive" width="100%">
                    <thead>
                        <tr class="active">
                            <th>
                                ID
                            </th>
                            <th>
                                Primer Nombre
                            </th>
                            <th>
                                Segundo nombre
                            </th>
                            <th>
                                Primer Apellido
                            </th>
                            <th>
                                Segundo Apellido
                            </th>
                            <th>
                                Telefono
                            </th>
                            <th>
                                Celular
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Dirección
                            </th>
                            <th>
                                Barrio
                            </th>
                            <th>
                                Estado
                            </th>

                        </tr>
                    </thead>

                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.idCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.primerNombre)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.segundoNombre)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.primerApellido)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.segundoApellido)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.telefono)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.celular)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.email)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.direccion)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.barrio)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.estado)
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idCliente }) |
        @Html.ActionLink("Regresar", "Index")
    </p>
    <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    "searching": false,
                    "paginate": false,
                    "info": false,
                    "language": {
                        "url": "@Url.Content("~/Scripts/DataTables/lenguaje.json")"
                    }


                });

            });
    </script>
</div>

