@model KimdolSoft.Models.producto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br /><br /><br /><br />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> Información del producto </h3>
            </div>
            <div class="panel-body">

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.idPresentacion,htmlAttributes: new { @class = "control-label col-xs-2" })
                        <div class="col-xs-4">
                            @Html.DropDownList("idPresentacion", null, String.Empty, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idPresentacion, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.idTipoProducto, htmlAttributes: new { @class = "control-label col-xs-2" })
                        <div class="col-xs-4">
                            @Html.DropDownList("idTipoProducto", null, String.Empty, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idTipoProducto, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idMarca, htmlAttributes: new { @class = "control-label col-xs-2" })
                        <div class="col-xs-4">
                            @Html.DropDownList("idMarca", null, String.Empty, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idMarca, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.idUnidad, htmlAttributes: new { @class = "control-label col-xs-2" })
                        <div class="col-xs-4">
                            @Html.DropDownList("idUnidad", null, String.Empty, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idUnidad, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.valor, htmlAttributes: new { @class = "control-label col-xs-2" })
                        <div class="col-xs-4">
                            @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-xs-2" })
                        <div class="col-xs-4">
                            @Html.DropDownListFor(model => model.estado,
                                new List<SelectListItem> {
                                new SelectListItem { Text=""},
                                new SelectListItem { Text="Activo"},
                                new SelectListItem { Text="Inactivo"}
                                },
                                new { @class = "myselect form-control" })
                        </div>
                    </div>




                    <div class="form-group">
                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Registrar" class="btn btn-default" />
                            <input type="submit" value="Cancelar" class="btn btn-default" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
