@model KimdolSoft.Models.producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br /><br /><br /><br /><br /><br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Información del producto </h3>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-bordered">
                    <tr class="active">
                        <th>
                            Nombre
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Marca
                        </th>
                        <th>
                            Presentación
                        </th>
                        <th>
                            Tipo Producto
                        </th>
                        <th>
                            Unidad
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.valor)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.marca.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.presentacion.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.tipoproducto.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.unidad.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.estado)
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Regresar", "Index")
    </p>
</div>
