@model IEnumerable<KimdolSoft.Models.contacto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table data-toggle="table"
           data-query-params="queryParams"
           data-search="true"
           data-height="300">
        <thead>
            <tr>
                <th data-field=" Tipo documento">
                    @Html.DisplayNameFor(model => model.tipoDocumento)
                </th>
                <th data-field="Primer nombre">
                    @Html.DisplayNameFor(model => model.primerNombre)
                </th>
                <th data-field="Segundo nombre">
                    @Html.DisplayNameFor(model => model.segundoNombre)
                </th>
                <th data-field="Primer apellido">
                    @Html.DisplayNameFor(model => model.primerApellido)
                </th>
                <th data-field="Segundo apellido">
                    @Html.DisplayNameFor(model => model.segundoApellido)
                </th>
                <th data-field="Celular">
                    @Html.DisplayNameFor(model => model.celular)
                </th>
                <th data-field="Email">
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th data-field="Id proveedor">
                    @Html.DisplayNameFor(model => model.proveedor.idProveedor)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primerNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.segundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.primerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.segundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proveedor.tipoDocumento)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idContacto })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.idContacto })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.idContacto })
                </td>
            </tr>
        }
    </table>
</div>


@section Scripts {
    <script>
    function queryParams() {
        return {
            type: 'owner',
            sort: 'updated',
            direction: 'desc',
            per_page: 100,
            page: 1
        };
    }
</script>

}