@model KimdolSoft.Models.detallecompra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br /><br /><br /><br /><br /><br /><br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Información de la compra </h3>
        </div>

        <table id="example" class="display responsive" width="100%">
            <thead>
                <tr class="active">
                    <th>
                        NIT - Documento
                    </th>

                    <th>
                        Empresa
                    </th>
                    <th>
                        Fecha compra
                    </th>
                    <th>
                        Valor compra
                    </th>
                    <th>
                        Descuento
                    </th>
                    <th>
                        Estado
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.compra.idProveedor)
                </td>
                <td>
                    @Html.DisplayFor(model => model.compra.proveedor.empresa)
                </td>
                <td>
                    @Html.DisplayFor(model => model.compra.fechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(model => model.compra.valorCompra)
                </td>
                <td>
                    @Html.DisplayFor(model => model.compra.descuento)
                </td>
                <td>
                    @Html.DisplayFor(model => model.compra.estado)
                </td>
            </tr>
        </table>

        <br /><br />

        <table id="example2" class="display responsive" width="100%">
            <thead>
                <tr class="active">
                    <th>
                        Producto
                    </th>

                    <th>
                        Cantidad
                    </th>
                    <th>
                        Valor unitario
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.producto.nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => model.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(model => model.valorUnitario)
                </td>
            </tr>
        </table>
    </div>

    <p>
        @Html.ActionLink("Regresar", "Index")
    </p>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "searching": false,
                "paginate": false,
                "info": false,
                "language": {
                    "url": "@Url.Content("~/Scripts/DataTables/lenguaje.json")"
                }


            });
            $('#example2').DataTable({
                "searching": false,
                "paginate": false,
                "info": false,
                "language": {
                    "url": "@Url.Content("~/Scripts/DataTables/lenguaje.json")"
            }


        });

        });
    </script>
</div>
