@model KimdolSoft.Models.detallecompra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br /><br /><br /><br /><br /><br /><br />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Información de la compra </h3>
        </div>
        <div class="panel-body">
            <div>

                <table class="table table-bordered">
                    <tr class="active">
                        <th>
                            NIT - Documento
                        </th>

                        <th>
                            Empresa
                        </th>
                        <th>
                            Fecha compra
                        </th>
                        <th>
                            Valor compra
                        </th>
                        <th>
                            Descuento 
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.compra.idProveedor)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.compra.proveedor.empresa)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.compra.fechaCompra)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.compra.valorCompra)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.compra.descuento)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.compra.estado)
                        </td>
                    </tr>
                </table>

                <table class="table table-bordered">
                    <tr class="active">
                        <th>
                            Producto
                        </th>

                        <th>
                            Cantidad
                        </th>
                        <th>
                            Valor unitario
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.producto.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.valorUnitario)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Regresar", "Index")
    </p>
</div>

