@model IEnumerable<KimdolSoft.Models.detallecompra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table data-toggle="table"
           data-query-params="queryParams"
           data-search="true"
           data-height="300">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valorUnitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.compra.idProveedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.producto.nombre)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.compra.idProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producto.nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idDetalle })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.idDetalle })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.idDetalle })
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts {
    <script>
    function queryParams() {
        return {
            type: 'owner',
            sort: 'updated',
            direction: 'desc',
            per_page: 100,
            page: 1
        };
    }
    </script>

}