@model KimdolSoft.Models.cuentausuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cuentausuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preguntaSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preguntaSeguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respuestaSeguridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuestaSeguridad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleado.idEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleado.idEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCuentaUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
